<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Question</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Question" name="question" value="<%= polldb.question %>" required>
              </div>
              <div class="form-group">
                <label for="CostTextField">Option1</label>
                <input type="text" class="form-control" id="CostTextField"
                placeholder="Option1" name="option1" value="<%= polldb.option1 %>"  required>
              </div>
              <div class="form-group">
                <label for="RatingTextField">Option2</label>
                <input type="text" class="form-control" id="RatingTextField"
                placeholder="Option2" name="option2" value="<%= polldb.option2 %>"  required>
              </div>
              <div class="form-group">
                <label for="RatingTextField">Option3</label>
                <input type="text" class="form-control" id="RatingTextField"
                placeholder="Option3" name="option3" value="<%= polldb.option3 %>"  required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/polldb" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
