<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h3>polldb List </h3>
          <a href="/polldb/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Contact</a>
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Question</th>
              <th class="text-center">Option1</th>
              <th class="text-center">Option2</th>
              <th class="text-center">Option3</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            <!-- Template Row -->
            <% for (let count = 0; count < polldb.length; count++) { %>
            <tr>
              <td class="text-center"><%= polldb[count].question %></td>
              <td class="text-center"><%= polldb[count].option1 %></td>
              <td class="text-center"><%= polldb[count].option2 %></td>
              <td class="text-center"><%= polldb[count].option3 %></td>
              <td class="text-center">
              <a href="/polldb/<%= polldb[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Edit</a>
               </td>
              <td class="text-center">
              <a href="/polldb/delete/<%= polldb[count]._id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i> Delete</a>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


